.thumbnail{
  width: 300px;
  display: block;
 }
 .search-bar{
  display: block;
 }

 .video-tittle{
  margin-top: 0;
 }

 .video-preview{
   width: 300px;
   display: inline-block;
   vertical-align: top;
   margin-right: 15px;
 }
 

 .channel-picture{
  display: inline-block;
  width: 50px;
  vertical-align: top;
 }

 .video-info{
  display: inline-block;
  width: 200px;
 }

 .profile-picture{
  width: 40px;
  border-radius: 50px;
 }